$green: #94e055;
$border-radius: 4px;
$area-size: 3rem;

.advanced-view {
    .cover {
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        pointer-events: none;
        opacity: .3;
        z-index: -1;
    }

    &:hover {
        .name {
            background-color: rgba(255, 255, 255, .1);
        }

        .remove-hero, .reset-hero {
            mat-icon {
                opacity: .5;
                transition: opacity .1s ease;
                will-change: opacity;
            }

            &:hover {
                mat-icon {
                    opacity: 1;
                }
            }
        }
    }
}

.name, .remove-hero, .reset-hero {
    z-index: 1;
}

.name {
    font-size: 12px;
    color: white;
    width: fit-content;
    max-width: 70px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: $border-radius;
    top: 6px;
    left: 6px;
    text-overflow: ellipsis;
    transition: background-color .1s ease, border .1s ease;
    will-change: background-color, border;

    &:hover, &:focus-visible {
        outline: none;
        border: 1px solid rgba(255, 255, 255, .2);
    }
}

.areas {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.area {
    width: $area-size;
    height: $area-size;

    &.v0-hp {
        top: 7px;
        left: 135px;
    }

    &.v0-atk {
        top: 30px;
        right: 92px;
    }

    &.v0-hp-atk {
        top: 70px;
        right: 60px;
    }

    &.v1-hp {
        top: 177px;
        right: 68px;
    }

    &.v1-atk {
        top: 203px;
        right: 113px;
    }

    &.v1-hp-atk {
        top: 209px;
        right: 168px;
    }

    &.v2-hp {
        top: 154px;
        left: 51px;
    }

    &.v2-atk {
        top: 110px;
        left: 48px;
    }

    &.v2-hp-atk {
        top: 73px;
        left: 74px;
    }

    &.v3-hp {
        top: 71px;
        left: 161px;
    }

    &.v3-atk {
        top: 101px;
        left: 180px;
    }

    &.v3-spd {
        top: 132px;
        left: 168px;
    }

    img {
        opacity: 0;
        transition: opacity .1s ease;
        will-change: opacity;
    }

    &:hover {
        img {
            opacity: 1;
        }
    }

}

.node-value {
    top: -.5rem;
    left: .1rem;

    input[type="number"] {
        width: 25px;
        background-color: transparent;
        border: none;

        &:focus {
            outline: none;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            display: none;
        }
    }

    input, input::placeholder, label {
        color: $green;
        font-weight: bold;
    }
}

.add-hero {
    background-color: rgba(255, 255, 255, .01);
    border-radius: $border-radius * 2;
    height: 310px;
    transition: background-color .3s ease;
    will-change: background-color;

    &:hover {
        background-color: rgba(255, 255, 255, .05);
    }
}

.remove-hero, .reset-hero {
    background-color: transparent;
    box-shadow: none;
    top: 0;

    mat-icon {
        opacity: 0;
    }
}

.remove-hero {
    right: 0;
}

.reset-hero {
    right: 30px;
}

.ss-total {
    font-size: 14px;
}
