<ng-container [formGroup]="formRoot">
  <div class="row" formArrayName="dynamicModel">
    <div class="col-3 my-5 text-center" *ngFor="let hero of dynamicModel.controls; let i = index"
         [name]="dynamicModel.controls[i].value.name" setBackgroundImage>
      <div class="advanced-view position-relative" [formGroupName]="i">
        <input type="text" id="hero-{{ i }}" class="name position-absolute py-2 px-3" placeholder="Hero"
               formControlName="name" (change)="updateName(i)"/>
        <button type="button" class="remove-hero position-absolute" mat-mini-fab color="primary"
                aria-label="Remove hero" (click)="removeHero(i)">
          <mat-icon class="icon-small">delete</mat-icon>
        </button>
        <button type="button" class="reset-hero position-absolute" mat-mini-fab color="primary"
                aria-label="Reset hero" (click)="resetHero(i)">
          <mat-icon class="icon-small">replay</mat-icon>
        </button>
        <img class="pointer-events-none" src="assets/images/resources/spiral.png" alt="Spiral" width="250"/>
        <div class="areas position-absolute" formGroupName="nodes">
          <!-- VO -->
          <div class="area v0-hp position-absolute cursor-pointer">
            <img src="assets/images/resources/hero_icon_activation1.png" alt="HP" width="30"
                 (click)="V0HP.select()"/>
            <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="0" (change)="onSubmit(i, 0)" min="0" max="30" #V0HP/>
                </span>
          </div>
          <div class="area v0-atk position-absolute cursor-pointer">
            <img src="assets/images/resources/hero_icon_activation2.png" alt="HP/ATK" width="30"
                 (click)="V0ATK.select()"/>
            <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="1" (change)="onSubmit(i, 1)" min="0" max="30" #V0ATK/>
                </span>
          </div>
          <div class="area v0-hp-atk position-absolute cursor-pointer">
            <img src="assets/images/resources/hero_icon_activation14.png" alt="ATK" width="30"
                 (click)="V0HPATK.select()"/>
            <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="2" (change)="onSubmit(i, 2)" min="0" max="10" #V0HPATK/>
                </span>
          </div>
          <!-- V1-->
          <div class="area v1-hp position-absolute cursor-pointer">
            <img src="assets/images/resources/hero_icon_activation1.png" alt="HP" width="30"
                 (click)="V1HP.select()"/>
            <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="3" (change)="onSubmit(i, 3)" min="0" max="30" #V1HP/>
                </span>
          </div>
          <div class="area v1-atk position-absolute cursor-pointer">
            <img src="assets/images/resources/hero_icon_activation2.png" alt="ATK" width="30"
                 (click)="V1ATK.select()"/>
            <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="4" (change)="onSubmit(i, 4)" min="0" max="30" #V1ATK/>
                </span>
          </div>
          <div class="area v1-hp-atk position-absolute cursor-pointer">
            <img src="assets/images/resources/hero_icon_activation14.png" alt="HP/ATK" width="30"
                 (click)="V1HPATK.select()"/>
            <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="5" (change)="onSubmit(i, 5)" min="0" max="10" #V1HPATK/>
                </span>
          </div>
          <!-- V2 -->
          <div class="area v2-hp position-absolute cursor-pointer">
            <img src="assets/images/resources/hero_icon_activation1.png" alt="HP" width="30"
                 (click)="V2HP.select()"/>
            <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="6" (change)="onSubmit(i, 6)" min="0" max="30" #V2HP/>
                </span>
          </div>
          <div class="area v2-atk position-absolute cursor-pointer">
            <img src="assets/images/resources/hero_icon_activation2.png" alt="ATK" width="30"
                 (click)="V2ATK.select()"/>
            <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="7" (change)="onSubmit(i, 7)" min="0" max="30" #V2ATK/>
                </span>
          </div>
          <div class="area v2-hp-atk position-absolute cursor-pointer">
            <img src="assets/images/resources/hero_icon_activation14.png" alt="HP/ATK" width="30"
                 (click)="V2HPATK.select()"/>
            <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="8" (change)="onSubmit(i, 8)" min="0" max="10" #V2HPATK/>
                </span>
          </div>
          <!-- V3 -->
          <div class="area v3-hp position-absolute cursor-pointer">
            <img src="assets/images/resources/hero_icon_activation1.png" alt="HP" width="30"
                 (click)="V3HP.select()"/>
            <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="9" (change)="onSubmit(i, 9)" min="0" max="30" #V3HP/>
                </span>
          </div>
          <div class="area v3-atk position-absolute cursor-pointer">
            <img src="assets/images/resources/hero_icon_activation1.png" alt="ATK" width="30"
                 (click)="V3ATK.select()"/>
            <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="10" (change)="onSubmit(i, 10)" min="0" max="30" #V3ATK/>
                </span>
          </div>
          <div class="area v3-spd position-absolute cursor-pointer">
            <img src="assets/images/resources/hero_icon_activation1.png" alt="SPD" width="30"
                 (click)="V3SPD.select()"/>
            <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="11" (change)="onSubmit(i, 11)" min="0" max="10" #V3SPD/>
                </span>
          </div>
        </div>
        <p class="mt-5">
          <span>{{ (SSCountArray[i] | number: '1.') || 0 }} </span>
          <span>/ {{ 4935000 | number: '1.' }}</span>
        </p>
        <div class="cover position-absolute"></div>
      </div>
    </div>
    <div class="col-3 my-5">
      <div class="add-hero d-flex align-items-center justify-content-center cursor-pointer" (click)="addHero()">
        <mat-icon class="icon-large">add</mat-icon>
      </div>
    </div>
  </div>
</ng-container>
