<header>
  <mat-toolbar class="mat-toolbar mat-primary mat-toolbar-single-row">
    <span>Idle Heroes - Tools</span>
    <nav>
      <ul class="d-flex">
        <li class="mx-4">
          <a class="d-flex position-relative" routerLink="/stellar-shards-calculator" routerLinkActive="active"><img
            src="./assets/images/resources/stellar-shard.png"
            alt="Stellar shard" width="40"/></a>
        </li>
        <li class="mx-4">
          <a class="d-flex position-relative" routerLink="/essence-calculator" routerLinkActive="active"><img
            src="./assets/images/resources/spiritual-essence.webp"
            alt="Essence" width="40"/></a>
        </li>
        <li class="mx-4">
          <a class="d-flex position-relative" routerLink="/vip-levels" routerLinkActive="active"><img
            src="./assets/images/resources/activity_integral_vip.png"
            alt="VIP" width="40"/></a>
        </li>
      </ul>
    </nav>
    <span class="credits d-flex flex-column text-end">
      <span>version 1.3 <small>(January 2023)</small></span>
      <small class="mb-0 text-green">By Dethroy · Alinna · Lexi</small>
    </span>
  </mat-toolbar>
</header>
