<section class="container">
  <div class="d-flex">
    <div class="d-flex flex-column">
      <h1>Stellar Shards Calculator</h1>
      <p class="mb-5">Complete the fields to automatically calculate the number of stellar shards that you have</p>
    </div>
    <div class="d-flex flex-grow-1 justify-content-end">
      <button mat-fab color="primary" aria-label="Reset form" (click)="resetForm()" matTooltip="Reset form">
        <mat-icon>replay</mat-icon>
      </button>
    </div>
  </div>
  <form [formGroup]="formControlModel" (ngSubmit)="onSubmit()">
    <div class="row py-5" formGroupName="staticModel">
      <div class="col-12 d-flex justify-content-between">
        <div class="entry d-flex flex-column">
          <mat-form-field appearance="fill">
            <mat-label>V4</mat-label>
            <input type="number" placeholder="Number" matInput formControlName="V4" (ngModelChange)="onSubmit()">
          </mat-form-field>
          <span>
            <img class="d-inline-block me-2" src="assets/images/resources/stellar-shard.png" alt="Stellar shards"
                 width="24"/>
            <span
              class="position-relative">{{ formControlModel.value.staticModel.V4 * StellarCountValues.V4 | json }}</span>
          </span>
        </div>
        <div class="entry d-flex flex-column">
          <mat-form-field appearance="fill">
            <mat-label>V3</mat-label>
            <input type="number" placeholder="Number" matInput formControlName="V3" (ngModelChange)="onSubmit()">
          </mat-form-field>
          <span>
            <img class="d-inline-block me-2" src="assets/images/resources/stellar-shard.png" alt="Stellar shards"
                 width="24"/>
            <span
              class="position-relative">{{ formControlModel.value.staticModel.V3 * StellarCountValues.V3 | json }}</span>
          </span>
        </div>
        <div class="entry d-flex flex-column">
          <mat-form-field appearance="fill">
            <mat-label>V2</mat-label>
            <input type="number" placeholder="Number" matInput formControlName="V2" (ngModelChange)="onSubmit()">
          </mat-form-field>
          <span>
            <img class="d-inline-block me-2" src="assets/images/resources/stellar-shard.png" alt="Stellar shards"
                 width="24"/>
            <span
              class="position-relative">{{ formControlModel.value.staticModel.V2 * StellarCountValues.V2 | json }}</span>
          </span>
        </div>
        <div class="entry d-flex flex-column">
          <mat-form-field appearance="fill">
            <mat-label>V1</mat-label>
            <input type="number" placeholder="Number" matInput formControlName="V1" (ngModelChange)="onSubmit()">
          </mat-form-field>
          <span>
            <img class="d-inline-block me-2" src="assets/images/resources/stellar-shard.png" alt="Stellar shards"
                 width="24"/>
            <span
              class="position-relative">{{ formControlModel.value.staticModel.V1 * StellarCountValues.V1 | json }}</span>
          </span>
        </div>
      </div>
    </div>
    <div class="row py-5" formArrayName="dynamicModel">
      <div class="col-3 text-center" *ngFor="let hero of dynamicModel.controls; let i = index">
        <ng-container [formGroupName]="i">
          <div class="advanced-view position-relative">
            <input type="text" id="hero-{{ i }}" class="name position-absolute py-2 px-3" [placeholder]="i"
                   formControlName="name"/>
            <button class="remove-hero position-absolute" mat-mini-fab color="primary"
                    aria-label="Remove hero" (click)="removeHero(i)">
              <mat-icon class="icon-small">delete</mat-icon>
            </button>
            <button class="reset-hero position-absolute" mat-mini-fab color="primary"
                    aria-label="Reset hero" (click)="resetHero(i)">
              <mat-icon class="icon-small">replay</mat-icon>
            </button>
            <img class="pointer-events-none" src="assets/images/resources/spiral.png" alt="Spiral"/>
            <div class="areas position-absolute" formGroupName="nodes">
              <!-- VO -->
              <div class="area v0-hp position-absolute cursor-pointer">
                <img src="assets/images/resources/hero_icon_activation1.png" alt="HP" width="30"
                     (click)="V0HP.focus()"/>
                <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="V0-HP" (ngModelChange)="checkField($event, V0HP)" min="0" max="30" #V0HP/>
                </span>
              </div>
              <div class="area v0-atk position-absolute cursor-pointer">
                <img src="assets/images/resources/hero_icon_activation2.png" alt="HP/ATK" width="30"
                     (click)="V0ATK.focus()"/>
                <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="V0-ATK" (ngModelChange)="checkField($event, V0ATK)" min="0" max="30" #V0ATK/>
                </span>
              </div>
              <div class="area v0-hp-atk position-absolute cursor-pointer">
                <img src="assets/images/resources/hero_icon_activation14.png" alt="ATK" width="30"
                     (click)="V0HPATK.focus()"/>
                <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="V0-HP-ATK" (ngModelChange)="checkField($event, V0HPATK)" min="0" max="30"
                         #V0HPATK/>
                </span>
              </div>
              <!-- V1-->
              <div class="area v1-hp position-absolute cursor-pointer">
                <img src="assets/images/resources/hero_icon_activation1.png" alt="HP" width="30"
                     (click)="V1HP.focus()"/>
                <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="V1-HP" (ngModelChange)="checkField($event, V1HP)" min="0" max="30" #V1HP/>
                </span>
              </div>
              <div class="area v1-atk position-absolute cursor-pointer">
                <img src="assets/images/resources/hero_icon_activation2.png" alt="ATK" width="30"
                     (click)="V1ATK.focus()"/>
                <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="V1-ATK" (ngModelChange)="checkField($event, V1ATK)" min="0" max="30" #V1ATK/>
                </span>
              </div>
              <div class="area v1-hp-atk position-absolute cursor-pointer">
                <img src="assets/images/resources/hero_icon_activation14.png" alt="HP/ATK" width="30"
                     (click)="V1HPATK.focus()"/>
                <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="V1-HP-ATK" (ngModelChange)="checkField($event, V1HPATK)" min="0" max="30"
                         #V1HPATK/>
                </span>
              </div>
              <!-- V2 -->
              <div class="area v2-hp position-absolute cursor-pointer">
                <img src="assets/images/resources/hero_icon_activation1.png" alt="HP" width="30"
                     (click)="V2HP.focus()"/>
                <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="V2-HP" (ngModelChange)="checkField($event, V2HP)" min="0" max="30" #V2HP/>
                </span>
              </div>
              <div class="area v2-atk position-absolute cursor-pointer">
                <img src="assets/images/resources/hero_icon_activation2.png" alt="ATK" width="30"
                     (click)="V2ATK.focus()"/>
                <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="V2-ATK" (ngModelChange)="checkField($event, V2ATK)" min="0" max="30" #V2ATK/>
                </span>
              </div>
              <div class="area v2-hp-atk position-absolute cursor-pointer">
                <img src="assets/images/resources/hero_icon_activation14.png" alt="HP/ATK" width="30"
                     (click)="V2HPATK.focus()"/>
                <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="V2-HP-ATK" (ngModelChange)="checkField($event, V2HPATK)" min="0" max="30"
                         #V2HPATK/>
                </span>
              </div>
              <!-- V3 -->
              <div class="area v3-hp position-absolute cursor-pointer">
                <img src="assets/images/resources/hero_icon_activation1.png" alt="HP" width="30"
                     (click)="V3HP.focus()"/>
                <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="V3-HP" (ngModelChange)="checkField($event, V3HP)" min="0" max="30" #V3HP/>
                </span>
              </div>
              <div class="area v3-atk position-absolute cursor-pointer">
                <img src="assets/images/resources/hero_icon_activation1.png" alt="ATK" width="30"
                     (click)="V3ATK.focus()"/>
                <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="V3-ATK" (ngModelChange)="checkField($event, V3ATK)" min="0" max="30" #V3ATK/>
                </span>
              </div>
              <div class="area v3-spd position-absolute cursor-pointer">
                <img src="assets/images/resources/hero_icon_activation1.png" alt="SPD" width="30"
                     (click)="V3SPD.focus()"/>
                <span class="node-value position-relative">
                  <input id="V0-HP-{{i}}" type="number" class="value text-center" placeholder="0"
                         formControlName="V3-SPD" (ngModelChange)="checkField($event, V3SPD)" min="0" max="10" #V3SPD/>
                </span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="col-3">
        <div class="add-hero d-flex align-items-center justify-content-center cursor-pointer" (click)="addHero()">
          <mat-icon class="">add</mat-icon>
        </div>
      </div>
    </div>
  </form>
  <div class="mt-5 mb-0 d-flex flex-row">
    <h3 class="d-flex align-items-center me-5" matTooltip="Stellar shards count">
      <img class="d-inline-block me-2" src="assets/images/resources/stellar-shard.png" alt="Stellar shards" width="24"/>
      <span>Total: {{ getTotalSS() }}</span>
    </h3>
    <h3 class="d-flex align-items-center me-5" matTooltip="Hero count">
      <img class="d-inline-block me-2" src="assets/images/resources/hero.png" alt="Stellar shards" width="24"/>
      <span>Total: {{ getHeroCount() }}</span>
    </h3>
  </div>
</section>
