<section class="container">
  <div class="d-flex">
    <div class="d-flex flex-column">
      <h1>Stellar Shards Calculator</h1>
      <p class="mb-5">Complete the fields to automatically calculate the number of stellar shards that you have</p>
    </div>
    <div class="d-flex flex-grow-1 justify-content-end">
      <button mat-fab color="primary" aria-label="Reset form" (click)="resetForm()" matTooltip="Reset form">
        <mat-icon>replay</mat-icon>
      </button>
    </div>
  </div>
  <form [formGroup]="formControlModel" (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="row py-5" formGroupName="staticModel">
      <div class="col-12 d-flex justify-content-between">
        <div class="entry d-flex flex-column">
          <mat-form-field appearance="fill">
            <mat-label>V4</mat-label>
            <input type="number" placeholder="Number" matInput formControlName="V4" (ngModelChange)="onSubmit()">
          </mat-form-field>
          <span>
            <img class="d-inline-block me-2" src="assets/images/resources/stellar-shard.png" alt="Stellar shards"
                 width="24"/>
            <span
              class="position-relative">{{ formControlModel.value.staticModel.V4 * StellarCountValues.V4 | json }}</span>
          </span>
        </div>
        <div class="entry d-flex flex-column">
          <mat-form-field appearance="fill">
            <mat-label>V3</mat-label>
            <input type="number" placeholder="Number" matInput formControlName="V3" (ngModelChange)="onSubmit()">
          </mat-form-field>
          <span>
            <img class="d-inline-block me-2" src="assets/images/resources/stellar-shard.png" alt="Stellar shards"
                 width="24"/>
            <span
              class="position-relative">{{ formControlModel.value.staticModel.V3 * StellarCountValues.V3 | json }}</span>
          </span>
        </div>
        <div class="entry d-flex flex-column">
          <mat-form-field appearance="fill">
            <mat-label>V2</mat-label>
            <input type="number" placeholder="Number" matInput formControlName="V2" (ngModelChange)="onSubmit()">
          </mat-form-field>
          <span>
            <img class="d-inline-block me-2" src="assets/images/resources/stellar-shard.png" alt="Stellar shards"
                 width="24"/>
            <span
              class="position-relative">{{ formControlModel.value.staticModel.V2 * StellarCountValues.V2 | json }}</span>
          </span>
        </div>
        <div class="entry d-flex flex-column">
          <mat-form-field appearance="fill">
            <mat-label>V1</mat-label>
            <input type="number" placeholder="Number" matInput formControlName="V1" (ngModelChange)="onSubmit()">
          </mat-form-field>
          <span>
            <img class="d-inline-block me-2" src="assets/images/resources/stellar-shard.png" alt="Stellar shards"
                 width="24"/>
            <span
              class="position-relative">{{ formControlModel.value.staticModel.V1 * StellarCountValues.V1 | json }}</span>
          </span>
        </div>
      </div>
    </div>
    <div class="row py-5" formArrayName="dynamicModel">
      <div class="col-3 mx-3 text-center" *ngFor="let alias of dynamicModel.controls; let i = index">
        <input id="hero-{{ i }}" type="text" [formControlName]="i" hidden>
        <div class="advanced-view position-relative">
          <img class="pointer-events-none" src="assets/images/resources/spiral.png" alt="Spiral"/>
          <div class="areas position-absolute">
            <!-- VO -->
            <div class="area v0-hp position-absolute cursor-pointer">
              <img src="assets/images/resources/hero_icon_activation1.png" alt="HP" width="30"/>
              <span>
                <span class="value">0</span>
                <span class="value-max">/10</span>
              </span>
            </div>
            <div class="area v0-atk position-absolute cursor-pointer">
              <img src="assets/images/resources/hero_icon_activation2.png" alt="ATK" width="30"/>
            </div>
            <div class="area v0-hp-atk position-absolute cursor-pointer">
              <img src="assets/images/resources/hero_icon_activation14.png" alt="HP/ATK" width="30"/>
            </div>
            <!-- V1-->
            <div class="area v1-hp position-absolute cursor-pointer">
              <img src="assets/images/resources/hero_icon_activation1.png" alt="HP" width="30"/>
            </div>
            <div class="area v1-atk position-absolute cursor-pointer">
              <img src="assets/images/resources/hero_icon_activation2.png" alt="ATK" width="30"/>
            </div>
            <div class="area v1-hp-atk position-absolute cursor-pointer">
              <img src="assets/images/resources/hero_icon_activation14.png" alt="HP/ATK" width="30"/>
            </div>
            <!-- V2 -->
            <div class="area v2-hp position-absolute cursor-pointer">
              <img src="assets/images/resources/hero_icon_activation1.png" alt="HP" width="30"/>
            </div>
            <div class="area v2-atk position-absolute cursor-pointer">
              <img src="assets/images/resources/hero_icon_activation2.png" alt="ATK" width="30"/>
            </div>
            <div class="area v2-hp-atk position-absolute cursor-pointer">
              <img src="assets/images/resources/hero_icon_activation14.png" alt="HP/ATK" width="30"/>
            </div>
            <!-- V3 -->
            <div class="area v3-hp position-absolute cursor-pointer">
              <img src="assets/images/resources/hero_icon_activation1.png" alt="HP" width="30"/>
            </div>
            <div class="area v3-atk position-absolute cursor-pointer">
              <img src="assets/images/resources/hero_icon_activation2.png" alt="ATK" width="30"/>
            </div>
            <div class="area v3-hp-atk position-absolute cursor-pointer">
              <img src="assets/images/resources/hero_icon_activation3.png" alt="HP/ATK" width="30"/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="add-hero d-flex align-items-center justify-content-center cursor-pointer" (click)="addHero()">
          <mat-icon class="">add</mat-icon>
        </div>
      </div>
    </div>
  </form>
  <div class="mt-5 mb-0 d-flex flex-row">
    <h3 class="d-flex align-items-center me-5" matTooltip="Stellar shards count">
      <img class="d-inline-block me-2" src="assets/images/resources/stellar-shard.png" alt="Stellar shards" width="24"/>
      <span>Total: {{ getTotalSS() }}</span>
    </h3>
    <h3 class="d-flex align-items-center me-5" matTooltip="Hero count">
      <img class="d-inline-block me-2" src="assets/images/resources/hero.png" alt="Stellar shards" width="24"/>
      <span>Total: {{ getHeroCount() }}</span>
    </h3>
  </div>
</section>
