::ng-deep button[mat-fab] .mat-button-wrapper {
  line-height: 20px;
}

.entry {
  span {
    top: -.5rem;
  }
}

.advanced-view {
  background: url('../../../assets/images/resources/hero_board3-optimized.png') no-repeat center center fixed;
}
