<section class="container">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column">
      <h1>Stellar Shards Calculator</h1>
      <p class="mb-5">Complete the fields to automatically calculate the number of stellar shards that you have</p>
    </div>
    <h1 class="d-flex align-items-center me-5" matTooltip="Stellar shards count">
      <img class="d-inline-block me-2" src="assets/images/resources/stellar-shard.png" alt="Stellar shards"
           width="24"/>
      <span>Total: {{ totalSSCount | number: '1.' }}</span>
    </h1>
    <h1 class="d-flex align-items-center me-5" matTooltip="Hero count">
      <img class="d-inline-block me-2" src="assets/images/resources/hero.png" alt="Stellar shards" width="24"/>
      <span>Total: {{ totalHeroCount }}</span>
    </h1>
    <div class="d-flex justify-content-end">
      <button mat-fab color="primary" aria-label="Reset form" (click)="resetForm()" matTooltip="Reset form">
        <mat-icon>replay</mat-icon>
      </button>
    </div>
  </div>
  <ng-container [formGroup]="formControlModel">
    <div class="row py-5" formGroupName="staticModel">
      <div class="col-12 d-flex justify-content-between">
        <div class="entry d-flex flex-column">
          <mat-form-field appearance="fill">
            <mat-label>V4</mat-label>
            <input type="number" placeholder="Number" matInput formControlName="V4" (change)="onSubmit()"
                   min="0">
          </mat-form-field>
          <span>
            <img class="d-inline-block me-2" src="assets/images/resources/stellar-shard.png" alt="Stellar shards"
                 width="24"/>
            <span
              class="position-relative">{{ formControlModel.value.staticModel.V4 * StellarCountValues.V4 | number: '1.' }}</span>
          </span>
        </div>
        <div class="entry d-flex flex-column">
          <mat-form-field appearance="fill">
            <mat-label>V3</mat-label>
            <input type="number" placeholder="Number" matInput formControlName="V3" (change)="onSubmit()"
                   min="0">
          </mat-form-field>
          <span>
            <img class="d-inline-block me-2" src="assets/images/resources/stellar-shard.png" alt="Stellar shards"
                 width="24"/>
            <span
              class="position-relative">{{ formControlModel.value.staticModel.V3 * StellarCountValues.V3 | number: '1.' }}</span>
          </span>
        </div>
        <div class="entry d-flex flex-column">
          <mat-form-field appearance="fill">
            <mat-label>V2</mat-label>
            <input type="number" placeholder="Number" matInput formControlName="V2" (change)="onSubmit()"
                   min="0">
          </mat-form-field>
          <span>
            <img class="d-inline-block me-2" src="assets/images/resources/stellar-shard.png" alt="Stellar shards"
                 width="24"/>
            <span
              class="position-relative">{{ formControlModel.value.staticModel.V2 * StellarCountValues.V2 | number: '1.' }}</span>
          </span>
        </div>
        <div class="entry d-flex flex-column">
          <mat-form-field appearance="fill">
            <mat-label>V1</mat-label>
            <input type="number" placeholder="Number" matInput formControlName="V1" (change)="onSubmit()"
                   min="0">
          </mat-form-field>
          <span>
            <img class="d-inline-block me-2" src="assets/images/resources/stellar-shard.png" alt="Stellar shards"
                 width="24"/>
            <span
              class="position-relative">{{ formControlModel.value.staticModel.V1 * StellarCountValues.V1 | number: '1.' }}</span>
          </span>
        </div>
        <div class="entry d-flex flex-column">
          <mat-form-field appearance="fill">
            <mat-label>Bag</mat-label>
            <input type="number" placeholder="Number" matInput formControlName="bag" (change)="onSubmit()"
                   min="0">
          </mat-form-field>
          <span>
            <img class="d-inline-block me-2" src="assets/images/resources/stellar-shard.png" alt="Stellar shards"
                 width="24"/>
            <span
              class="position-relative">{{ formControlModel.value.staticModel.bag | number: '1.' }}</span>
          </span>
        </div>
      </div>
    </div>
    <app-hero formArrayName="dynamicModel" (onSubmitValue)="updateForm($event)"></app-hero>
  </ng-container>
</section>
