@use '../abstracts/colors' as colors;

.spacer {
    flex: 1 1 auto;
}

.pointer-events-none {
    pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-text {
  cursor: text;
}

.icon-small {
  $size: 20px;

  font-size: $size !important;
  width: $size !important;
  height: $size !important;
}

.icon-large {
    $size: 4.8rem;

    width: $size !important;
    height: $size !important;
    font-size: $size !important;
}

.text-purple {
    color: colors.$primary !important;
}

.text-green {
    color: colors.$secondary !important;
}

.flex {
    flex: 1 1 0;
}

.img-responsive {
    height: auto;
    max-width: 100%;
}
