.table-striped {
    font-size: 14px;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    color: transparentize(white, .5)
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: rgba(0, 0, 0, 0.15);
}
