<section class="container">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column">
      <h1 class="mb-0">Maximizing HO Stats</h1>
      <p class="mb-2">Roadmap about tenants you need for every HO (homeowner):</p>
      <ul class="fs-4 mb-5">
        <li>Green tenants are indicated as the strongest ones.</li>
        <li>If two green tenants are indicated for the same HO, in this case, it means that there is <strong class="text-green">no</strong> difference in stats between the two.</li>
      </ul>
    </div>
  </div>
  <div class="text-center">
    <img class="img-responsive rounded-3" ngSrc="./assets/images/resources/tenants.png" alt="Max HO Stats" height="2308"
         width="1079" priority="true"/>
  </div>
</section>
