<section class="container">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column">
      <h1 class="mb-0">Maximizing HO Stats</h1>
      <p class="mb-5">Roadmap about tenants you need for every HO (homeowner). Blue tenants are indicated as the
        strongest ones. If there are two blue tenants are indicated for the same HO, in this case, it means that there is no difference in stats between the two.</p>
    </div>
  </div>
  <div class="text-center">
    <img class="img-responsive" src="./assets/images/resources/ho_stats.png" alt="Max HO Stats"/>
  </div>
</section>
