<div class="characteristics d-flex mb-3">
  <div class="d-flex flex p-4 justify-content-between">
    <div class="d-flex align-items-center">
      <img src="assets/images/resources/hero_icon_atk.png" alt="ATK" width="24"/>
      <span class="characteristic-name">ATK</span>
    </div>
    <div class="characteristic-value d-flex align-items-center">{{ ATK | number: '1.' }}</div>
  </div>
  <div class="d-flex flex p-4 justify-content-between">
    <div class="d-flex align-items-center">
      <img src="assets/images/resources/hero_icon_life.png" alt="HP" width="24"/>
      <span class="characteristic-name">HP</span>
    </div>
    <div class="characteristic-value d-flex align-items-center">{{ HP | number: '1.' }}</div>
  </div>
  <div class="d-flex flex p-4 justify-content-between">
    <div class="d-flex align-items-center">
      <img src="assets/images/resources/spiritual-essence.webp" alt="Spiritual Essence" width="24"/>
      <span class="characteristic-name">SE</span>
    </div>
    <div class="characteristic-value d-flex align-items-center">{{ SE | number: '1.' }}</div>
  </div>
  <div class="d-flex flex p-4 justify-content-between">
    <div class="d-flex align-items-center">
      <img src="assets/images/resources/stellar-shard.png" alt="Stellar" width="24"/>
      <span class="characteristic-name">SS</span>
    </div>
    <div class="characteristic-value d-flex align-items-center">{{ SS | number: '1.' }}</div>
  </div>
  <div class="d-flex flex p-4 justify-content-between">
    <div class="d-flex align-items-center">
      <img src="assets/images/resources/hero.png" alt="Hero" width="24"/>
      <span class="characteristic-name">Max Hero Level</span>
    </div>
    <div class="characteristic-value d-flex align-items-center">{{ maxHeroLevel }}</div>
  </div>
  <div class="d-flex flex p-4 justify-content-between">
    <div class="d-flex align-items-center">
      <img src="assets/images/resources/10-star.webp" alt="10 Stars" width="24"/>
      <span class="characteristic-name">10 Stars</span>
    </div>
    <div class="characteristic-value d-flex align-items-center">{{ tenStars }}</div>
  </div>
</div>
<div class="resources d-flex mb-3">
  <div class="d-flex flex p-4 justify-content-between">
    <div class="d-flex align-items-center">
      <img src="assets/images/resources/gold.webp" alt="Gold" width="24"/>
      <span class="characteristic-name">Gold</span>
    </div>
    <div class="characteristic-value d-flex align-items-center">{{ gold | number: '1.' }}</div>
  </div>
  <div class="d-flex flex p-4 justify-content-between">
    <div class="d-flex align-items-center">
      <img src="assets/images/resources/goo.webp" alt="Spirit" width="24"/>
      <span class="characteristic-name">Spirit</span>
    </div>
    <div class="characteristic-value d-flex align-items-center">{{ spirit | number: '1.' }}</div>
  </div>
  <div class="d-flex flex p-4 justify-content-between">
    <div class="d-flex align-items-center">
      <img src="assets/images/resources/x-stone.webp" alt="X-Stone" width="24"/>
      <span class="characteristic-name">X-Stone</span>
    </div>
    <div class="characteristic-value d-flex align-items-center">{{ xStone }}</div>
  </div>
</div>
<div class="d-flex input-level-container text-center justify-content-center">
  <div>
    <input id="tree-level" name="tree-level" class="text-center text-white" type="number" value="0"
           (wheel)="wheelUpdateCharacteristics($event)" (change)="updateCharacteristics($event)" min="0" max="120"/>
    <label class="input-description pt-3 d-block mx-auto" for="tree-level">Tree level</label>
  </div>
  <div>
    <input id="awakening-level" name="awakening-level" class="text-center text-white" type="number" value="0"
           (wheel)="wheelUpdateResources($event)" (change)="updateResources($event)" min="0" max="100"/>
    <label class="input-description pt-3 d-block mx-auto" for="awakening-level">Awakening level</label>
  </div>
</div>
